/* Css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Principal element var (dim, short for dimension, expressed as fraction of father). When no indication about what type of linear length is expressed this refers to both width and height */
:root {
  --container-h: 95vh;
  --contacts-dim: 0.4;
  --header-h: 50px;
  --profile-img-sm: 35px;
  --profile-img-bg: calc(var(--profile-img-sm) * 1.4);
  --header-button: 35px;
  --notifications-setting-h: 90px;
  --notification-status: calc(var(--profile-img-sm) * 1.1);
  --search-input-h: 30px;
  --chat-h: 80px;
  --footer-h: 50px;
  --msg-x-dim: 0.4;
}

/* Color choice */
:root {
  --time-stamp-color: #999;
}

/* Generics */
html {
  height: 100%;
}

body {
  font-family: 'Lato';
  font-size: 0.9rem;
  background: linear-gradient(#009587 15%, #d9dad3 15%);
}

header {
  height: var(--header-h);
  font-weight: 600;
  font-size: 0.85rem;
  padding: var(--pd-sm);

  img {
    width: var(--profile-img-sm);
    height: var(--profile-img-sm);
    border-radius: calc(var(--profile-img-sm) / 2);
    margin-right: 15px;
  }

  button {
    width: var(--header-button);
    height: var(--header-button);
    border: 0;
    border-radius: 50%;
  }
  
  button:hover {
    background-color: lightgray;
    cursor: pointer;
  }
  
  i.fa-solid,
  i.fa-regular {
    font-size: 1.1rem;
    filter: invert(0.5);
  }
}

form {
  padding: var(--pd-xs);
  height: 100%;
}

input {
  width: 100%;
  padding: 0 20px;
  font-size: 1.1rem;
}

img {
  display: block;
}

button {
  background-color: transparent;
}

button:not(:last-child) {
  margin-right: 2px;
}

i.fa-solid,
i.fa-regular {
  display: block;
}

/* ul {
  list-style-type: none;
  
  a {
      text-decoration: none;
      color: white;
      margin-right: 5px;
  }

  li:last-child a {
      margin-right: 0;
  }
  
} */

/* Utilities */
.container-xl-settings {
  height: var(--container-h);
  margin-top: calc((100vh - var(--container-h)) / 2);
}

#contacts {
  flex-basis: calc(100% * var(--contacts-dim));
  flex-shrink: 0;
  height: 100%;

  main {
    height: calc(100% - var(--header-h));
  }
}

#current-chat {
  height: 100%;
}

#notifications-setting {
  height: var(--notifications-setting-h);
  padding: var(--pd-md);
  flex-shrink: 0;

  .notification-status {
    width: var(--notification-status);
    height: var(--notification-status);
    line-height: var(--notification-status);
    text-align: center;
    border-radius: var(--notification-status);
    background-color: #fff;
    margin-right: 20px;
  }

  .notification-status i {
    display: inline-block;
  }

  a {
    font-size: 0.9rem;
    color: #ccc;
  }

  a:hover {
    color: #fff;
  }
}

#contacts search input {
  height: var(--search-input-h);
  border-radius: 5px;
  font-size: 0.8rem;
}

#chats-list {
  flex-grow: 1;
  overflow-y: auto;
}

.chat {
  height: var(--chat-h);
  padding: 10px 5px 10px 15px;
  border-bottom: 1px solid #eee;
  
  .contact-img-box {
    flex-basis: 20%;
    flex-shrink: 0;
  }

  .contact-img-box img {
    width: var(--profile-img-bg);
    height: var(--profile-img-bg);
    border-radius: calc(var(--profile-img-bg) / 2);
    margin-right: 15px;
  }

  .contact-name-lastmsg {
    flex-grow: 1;
    overflow: clip;

    .contact-name {
      font-weight: 600;
    }

    .contact-lastmsg {
      color: var(--time-stamp-color);
    }
  }
  
  .lastmsg-time {
    flex-basis: 10%;
    flex-shrink: 0;

    font-size: 0.7rem;
    /* padding: 5px 10px; */
    text-align: end;
    color: #999;
  }
}

.current {
  background-color: #eee;
}

#current-chat main{
  height: calc(100% - var(--header-h) - var(--footer-h));
  background-image: url(../img/mine.png);
  background-position: center;
}

.msgs-wrapper {
  padding: 30px 60px;
  height: 100%;
  overflow-y: auto;
}

.msg-row {
  margin-bottom: 15px;
}

.user {
  justify-content: end;
}

.msg {
  width: calc(100% * var(--msg-x-dim));
  padding: 10px 15px;
  border-radius: 10px;
  background-color: white;

  position: relative;
}

.user .msg {
  background-color: lightgreen;
}

.msg-time {
  color: var(--time-stamp-color);
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 0.5rem;
}

#current-chat footer {
  height: var(--footer-h);
}

.btn-box {
  padding: var(--pd-xs);

  i {
    font-size: 1.3rem;
    filter: invert(0.3);
  }

  button.emoji {
    width: var(--header-button);
    height: var(--header-button);
    border: 0;
    border-radius: 50%;
    margin: 0 20px;
  }

  button.emoji:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  button.microphone {
    height: 100%;
    padding: 0 10px;
    border: 2px solid transparent;
    margin: 0 20px;
  }

  .btn-hov:hover {
    border: 2px solid lightgreen;
    border-radius: 8px;
  }
}

#current-chat form {
  flex-grow: 1;
}

#current-chat form input {
  height: 100%;
  border-radius: 8px;
  border: 0;
}
